{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ti v mute</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static '/deadinside/img/logo.jpg' %}" width="30" height="30"
             class="d-inline-block align-top rounded-circle" alt="">
        Dead Inside Community
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index_url' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'manifesto_url' %}">Manifesto</a>
            <a class="nav-item nav-link" href="{% url 'links_url' %}">Links</a>
            <a class="nav-item nav-link" href="{% url 'cloudflare_url' %}">CloudFlare</a>
            <a class="nav-item nav-link" href="{% url 'nginxconf_url' %}">Dead Nginx config</a>
        </div>
    </div>
</nav>

<img src="{% static '/deadinside/img/img1.jpg' %}" width="100%" class="mx-auto d-block" alt="Responsive image">
</body>
</html>