{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follow or mute</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static '/deadinside/img/logo.jpg' %}" width="30" height="30"
             class="d-inline-block align-top rounded-circle" alt="">
        Dead Inside Community
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index_url' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'manifesto_url' %}">Manifesto</a>
            <a class="nav-item nav-link" href="{% url 'links_url' %}">Links</a>
            <a class="nav-item nav-link " href="{% url 'cloudflare_url' %}">CloudFlare</a>
            <a class="nav-item nav-link" href="{% url 'nginxconf_url' %}">Dead Nginx config</a>
        </div>
    </div>
</nav>
<div class="mx-auto text-monospace" style="width: 85%;">
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            1. dead inside ghoul - это не стиль общения, не плейстайл pos 1/2 no roll, и даже не чб ава с Эксом в наушниках. Гуль- это образ жизни, даже скорее образ мышления. Ты можешь называться гулем, если не смотришь на людей как на равных, и осознаешь, что это все лишь скот. Да, ты должен преподносить себя как кого-то, кто по умолчанию лучше других, однако это нужно оправдывать.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            2. Гулем может быть каждый, но не каждый тру, и не каждый гуль- SSS rank. Если у тебя 2к птс ты все еще можешь быть гулем, но нужно знать свое место. Если ты слабый игрок, то не нужно высuрать в чат союзнику (или еще лучше, противнику) "чел, го zxc, я тебя разeby 1v1", ты выглядишь как клоун. Если ты смеешь считать себя гулем, то не позорься, ты выше этого. Проиграл игру? Стань лучше и выиграй следующие 2. И еще, написал что то игроку, у которого больше чем на 500 птс больше, чем у тебя- ты выскочка, а не гуль.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            3. Ты не клоун. Да, это было в рофельном кодексе, но здесь я попробую описать все, что делает из тебя клоуна, а не гуля. Нужно разделять ситуации, когда тебе ♥♥♥♥♥♥♥♥♥♥ на то, что думают людишки о твоем поведении, и когда ты правда выглядишь как клоун и только позоришь себя и dead inside culture. Если у тебя счет не 10/0 и ты оскорбляешь энэми в чате- ты клоун. Если у тебя счет не 10/0 и ты пишешь не фидящему союзнику, что он бездарь- ты клоун. Если ты ставишь паузу не после смерти энэми мидера до 3 минуты или супер глупого размена по хп (например, 3 рейзов), а после каждого килла- ты клоун. Если на каждый мув высuраешь "?" в чат - ты клоун. Общаешься всю игру с энэми в чате (речь о ситуации, когда вы друг друга оскорбляете)? гц тебя, ты клоун. Если челы что-то тебе пишут- mute all chat, zitrax mode
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            4. Насчет ника и аватара. Конечно, если ты хочешь, что бы все знали, что ты гуль, то ставь чб аву, прифотошопленный к чару глаз или скрин из гуля, и ник dead inside, но это не обязательно. Просто аватар и ник должны быть эстетичными. По кайфу играю, по кайфу одет (с)
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            5. Тебе плевать на всех, но ты должен вести себя уважительно с сильными игроками, особенно теми, кто сильнее тебя. Не оскорбляй тех, кто этого не заслуживает. Тебя не волнуют чужие чувства, но ты ведешь себя как агрессивный ребенок, а не как SSS rank, когда с 0 секунды пишешь в чат "бездари, вы животные а не игроки, дайте мне мид я выиграю вам игру".
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            6. zitrax mode11, zxczxczxczxczxczxczxc. Ты должен выигрывать, твои цифры это твоя кровь и плоть, цифры энеми- твоя еда. Если ты разбиваешь шмотки после каждой ошибки суппорта на лайне- ты не гуль, ты выскочка подросток, который не может контролировать свои эмоции. Ты имеешь право сломать вещи в игре, где команда сама тебе специально руинит. В остальных случаях ты должен показывать людишкам, кто здесь гуль. Не получилось? Становись сильнее.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            7. Этот пункт вытекает из предыдущего. Хочешь побеждать? Играй на pos 1/2. Ты можешь играть и на других позициях, если ты хорош на них. Суть в том, что бы вывозить 10/10 игр, если у тебя получается делать это на суппорте- гц.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            8. Отвечай за базар, а значит следи за ним. Сказал что вынесешь в лоббаке? Выноси, а не умирай на второй минуте от рейзов лвл 2. Сказал, что сломаешь вещи? Ломай. Это не значит, что нужно каждую игру ломать вещи, это значит, что не нужно быть клоуном, который 24/7 кидается фразами в чат.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            9. Ты родился дважды, второй раз в Люксембурге. Ты должен уметь выносить челов в zxc, это краеугольный камень бытия ghoul'ем.
        </p>
    </div>
    <div class="badge badge-primary text-wrap my-2 mx-auto" style="width: 100%;">
        <p class="h6 text-center">
            10. Не дожирай за кем то. Не стоит копировать ник/аватар/фразы Алохи, или еще кого-то. Если ты гуль- ты личность, а личность должна быть уникальной.
        </p>
    </div>
</div>
</div>

</body>
</html>