{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ti v mute</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static '/deadinside/img/logo.jpg' %}" width="30" height="30"
             class="d-inline-block align-top rounded-circle" alt="">
        Dead Inside Community
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index_url' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'manifesto_url' %}">Manifesto</a>
            <a class="nav-item nav-link" href="{% url 'links_url' %}">Links</a>
            <a class="nav-item nav-link active" href="{% url 'cloudflare_url' %}">CloudFlare</a>
            <a class="nav-item nav-link" href="{% url 'nginxconf_url' %}">Dead Nginx config</a>
        </div>
    </div>
</nav>

<p class="text-left">
    <code>
        server {<br>
        server_name deadinside.ml;<br>
        return 301 http://www.deadinside.ml$request_uri;<br>
<br>
        listen 443 ssl; # managed by Certbot<br>
        ssl_certificate /etc/letsencrypt/live/deadinside.ml/fullchain.pem; # managed by Certbot<br>
        ssl_certificate_key /etc/letsencrypt/live/deadinside.ml/privkey.pem; # managed by Certbot<br>
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot<br>
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot<br>
<br>
        }<br>
<br>
        server {<br>
        server_name www.deadinside.ml;<br>
        charset utf-8;<br>
<br>
        error_log /home/ubuntu/error.log debug;<br>
        client_max_body_size 75M;<br>
        <br>
        location /media  {<br>
        root /home/ubuntu/simplesitefords/;<br>
        expires 30d;<br>
        }<br>
<br>
        location /static {<br>
        root /home/ubuntu/simplesitefords/;<br>
        expires 30d;<br>
        }<br>
        <br>
        location / {<br>
        proxy_pass http://127.0.0.1:8000;<br>
        proxy_set_header Host $server_name;<br>
        proxy_set_header X-Real-IP $remote_addr;<br>
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;<br>
        }<br>
        <br>
        listen 443 ssl; # managed by Certbot<br>
        ssl_certificate /etc/letsencrypt/live/deadinside.ml/fullchain.pem; # managed by Certbot<br>
        ssl_certificate_key /etc/letsencrypt/live/deadinside.ml/privkey.pem; # managed by Certbot<br>
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot<br>
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot<br>
        <br>
        }<br>
        server {<br>
        if ($host = deadinside.ml) {<br>
        return 301 https://$host$request_uri;<br>
        } # managed by Certbot<br>
        <br>
        <br>
        listen 80;<br>
        server_name deadinside.ml;<br>
        return 404; # managed by Certbot<br>
        <br>
        <br>
        }<br>
        server {<br>
        if ($host = www.deadinside.ml) {<br>
        return 301 https://$host$request_uri;<br>
        } # managed by Certbot<br>
        <br>
        <br>
        listen 80;<br>
        server_name www.deadinside.ml;<br>
        return 404; # managed by Certbot<br>
        <br>
        <br>
        }<br>
    </code>

</p>
</body>
</html>